<%- contentFor('main') %>
<% include slider %>

<section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Our Latest Project</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                <div class="btn-group">
                    <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                    <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                </div>
                <p class="gap"></p>
            </div>
            <div class="col-md-9">
                <div id="scroller" class="carousel slide">
                    <div class="carousel-inner">
                        <%
                            var length;

                            if(games.length > 3)
                                length = 3;
                            else
                                length = games.length;
                        %>
                        <div class="item active">
                            <div class="row">
                                <% for(var i=0; i<length; i++) { %>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="images/thumbnail/<%= games[i].thumbnail %>" alt="">
                                                <h5>
                                                    <%= games[i].name %>
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="" href="play?id=<%= games[i].id %>" ><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div><!--/.row-->
                        </div><!--/.item-->

                        <% if(games.length > 3) { %>
                        <div class="item">
                            <div class="row">
                                <% for(var j=3; j<games.length; j++) { %>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="images/thumbnail/<%= games[j].thumbnail %>" alt="">
                                                <h5>
                                                    <%= games[j].name %>
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="" href="<%= games[j].id %>" ><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div><!--/.row-->
                        </div><!--/.item-->
                        <% } %>
                    </div>
                </div>
                <div>
                <a class="btn btn-danger" href="/view_all">View All</a>
                </div>
            </div>
        </div><!--/.row-->
    </div>
</section><!--/#recent-works-->


